@page "/home/{ip}"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject NavigationManager Navigation

@* <PageTitle>Home</PageTitle>
 *@
<p>IP recibida por header: @ip</p>

Welcome to your new app.

<div class="mb-3">
    <button class="btn btn-secondary" @onclick="Logout">Logout</button>
</div>


@code{

    [Parameter] public string? ip { get; set; }
    private void Logout()
    {
        Navigation.NavigateTo("/", forceLoad: true);

    }
}