@inherits LayoutComponentBase
@using LoginAuthToken.LocalStorage
@using LoginAuthToken.Services
@inject UserSessionService sessionService

<div class="page">
    <main>
        <div style="background-color: #1A1A5A" class="top-row px-4">
            <div>
                <div style="display:inline-block;color: white">
                    @sessionService.ClientIp
                </div>

                <div style="display:inline-block;  margin-left:10px;">
                    <LogoutButton @rendermode="InteractiveServer" />
                </div>
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    public string Ip { get; private set; } = "";

    public void SetIp(string ip)
    {
        Ip = ip;
        InvokeAsync(StateHasChanged); // safe way to trigger re-render
    }
    private string ? ErrorContentMessage { get; set; }


}


