@using LoginAuthToken.Shared.Services
@using LoginAuthToken.Shared.LocalStorage
@inject UserSessionService sessionService
@inject LocalStorageHelper localStorageHelper
@inject NavigationManager Navigation

<button class="btn btn-danger rounded shadow-sm" @onclick="Logout">
    Logout
</button>

@code {
    private async Task Logout()
    {
        sessionService.ClearSession(); // Notifica a MainLayout u otros suscriptores

        await localStorageHelper.RemoveItemAsync(ProjectConstants.LocalStorageIpKey);
        await localStorageHelper.RemoveItemAsync(ProjectConstants.LocalStorageTokenKey);

        Navigation.NavigateTo("/weather", forceLoad: true);
    }
}
