<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="LoginAuthToken.styles.css" />
    <link rel="stylesheet" href="css/gradientBackground.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- ✅ Trianglify (UMD bundle, browser-ready) -->
@*     <script src="https://cdn.jsdelivr.net/gh/qrohlf/trianglify@v3.0.0/dist/trianglify.bundle.js"></script>
 *@

@*     <script src="https://cdn.jsdelivr.net/npm/trianglify@4.1.1/dist/trianglify.min.js"></script>
 *@
   <script src="js/trianglify.min.js"></script>
 
    <!-- Nuestro helper -->
    <script src="js/trianglifyHelper.js"></script>
    <script src="js/site.js"></script>


    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
